<footer class="pt-4 my-md-5 pt-md-5 border-top" th:fragment="footer">
    <hr>
    <div class="row">
        <div class="col-12 col-md">
            <img src="/csprscbw/image/csprs.jpg" width="40" height="40" />
            <small class="d-block mb-3 text-muted">&copy; 2020-2021</small>
        </div>
        <div class="col-6 col-md">
            <h6>關於我們</h6>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://goo.gl/maps/5uX9ZM3AYKSWZko87" target="_blank"><img
                            src="/csprscbw/image/location.png" width="20" height="20" />: 學會位置</a></li>
                <li><a class="text-muted" href="http://www.csprs.org.tw/Default" target="_blank"><img
                            src="/csprscbw/image/home.png" width="20" height="20" />: 學會首頁</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h6>聯絡我們</h6>
            <ul class="list-unstyled text-small">
                <li><img src="/csprscbw/image/phone.png" width="20" height="20" />: 02-8663-3468</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h6>地址</h6>
            <ul class="list-unstyled text-small">
                <li><img src="/csprscbw/image/location.png" width="20" height="20" />: 116台北市文山區</li>
                <li>羅斯福路五段111號3樓</li>
            </ul>
        </div>
    </div>
</footer>