<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar navbar-brand" href="/csprscbw/cwb/index" style="font-size: 20px !important;">
                <img src="/csprscbw/image/gis.png" width="30" height="30"></img>&nbsp;CSPRS CBW
            </a>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <span class="navbar-text">
                    <div id="myBtn" onclick="goProfile()">
                        <img src="/csprscbw/image/authentication.png" width="40" height="40"></img>
                    </div>
                </span>
                &nbsp;&nbsp;&nbsp;
                <span class="navbar-text">
                    <div title="Logout" style="height: 40px;">
                        <a href="/csprscbw/logout">
                            <img src="/csprscbw/image/logout.png" width="40" height="40"></img>
                        </a>
                    </div>
                </span>
            </div>
        </div>
    </nav>


    <div class="container">
        <div class="position-relative overflow-hidden p-3 p-md-2 m-md-3 text-center bg-light">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="/csprscbw/cbw_station" class="btn btn-outline-secondary btn-sm">站點</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/csprscbw/account"
                    class="btn btn-outline-secondary btn-sm">帳號管理</a>
                <a href="/csprscbw/cwb/index" class="btn btn-outline-secondary btn-sm">首頁</a>
                <a class="btn btn-outline-danger btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    注意
                </a>
            </div>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                 <div th:text= "${session.WarningMsgs}"></div>
            </div>
        </div>
    </div>
    <br>

    <script>
        var goProfile = function () {
            console.log("go Profile");
            window.open("/csprscbw/mapping/profile", "", "height=700,width=1000,scrollbars=no");
        }
    </script>
</header>