<th:block th:fragment="common_head_css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link rel="icon" href="/csprscbw/favicon.ico">
</th:block>
<th:block th:fragment="arcgis_head_css">
	<link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
	<link rel="stylesheet" href="/csprscbw/css/cbw_home/arcgis.css">
</th:block>
<th:block th:fragment="common_head_js">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
	<script src="/csprscbw/assets/dist/js/jquery.min.js"></script>
	<script src="/csprscbw/js/utils/Utils.js"></script>
</th:block>
<th:block th:fragment="arcgis_foot_js">
	<script src="https://js.arcgis.com/4.23/"></script>
	<script type="module" src="https://js.arcgis.com/calcite-components/1.0.0-beta.79/calcite.esm.js"></script>
  	<script nomodule="" src="https://js.arcgis.com/calcite-components/1.0.0-beta.79/calcite.js"></script>
	<script src="/csprscbw/js/arcgisUtils.js"></script>
</th:block>
