<header th:fragment="sideheader" >
	<h2><strong>
		<a href="/csprscbw/cwb/index" style="text-decoration: none;color: rgb(0, 0, 64);">地理圖資平台</a>
	</strong></h2>
	<hr>
	<ul class="list-unstyled ps-0">
		<li class="mb-1">
			<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
				data-bs-target="#home-collapse" aria-expanded="true">
				首頁
			</button>
			<div class="collapse show" id="home-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark rounded">氣象局及時資料顯示</a></li>
					<li><a href="#" class="link-dark rounded">氣象局測站</a></li>
				</ul>
			</div>
		</li>
		<li class="mb-1">
			<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
				data-bs-target="#dashboard-collapse" aria-expanded="false">
				Dashboard
			</button>
			<div class="collapse" id="dashboard-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark rounded">Superset儀錶板</a></li>
					<li><a href="#" class="link-dark rounded">統計儀錶板</a></li>
					<li><a href="#" class="link-dark rounded">系統效能儀錶板</a></li>
				</ul>
			</div>
		</li>
		<li class="mb-1">
			<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
				data-bs-target="#orders-collapse" aria-expanded="false">
				圖台相關功能
			</button>
			<div class="collapse" id="orders-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="/csprscbw/gis/download_gisExZip" class="link-dark rounded">下載範例zip檔案</a></li>
					<li><a href="#" class="link-dark rounded">Processed</a></li>
					<li><a href="#" class="link-dark rounded">Shipped</a></li>
					<li><a href="#" class="link-dark rounded">Returned</a></li>
				</ul>
			</div>
		</li>
		<li class="border-top my-3"></li>
		<li class="mb-1">
			<button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
				data-bs-target="#account-collapse" aria-expanded="false">
				Account
			</button>
			<div class="collapse" id="account-collapse">
				<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="#" class="link-dark rounded">個人帳號權限</a></li>
					<li><a href="#" class="link-dark rounded">群組帳號維護</a></li>
					<li><a href="#" class="link-dark rounded">系統相關設定</a></li>
					<li><a href="#" class="link-dark rounded">群組權限設定</a></li>
				</ul>
			</div>
		</li>
	</ul>
</header>