<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>忘記密碼</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="/csprscbw/css/system/pwdForgotReset.css" rel="stylesheet">
</head>

<body>
    <div class="main-block">
        <h6>請輸入帳號</h6>
		<form th:action="@{/handleLogin/forgotPwd}" method="post">
            <hr>
            <label id="icon" for="acc"><i class="fas fa-user"></i></label>
            <input type="text" name="acc" id="acc" placeholder="帳號" required />
            <div class="btn-block">
				<p th:text="${errorMsg}" style="color: red;"></p>
				<button type="submit">SendMail</button>
            </div>
        </form>
    </div>
</body>

</html>