<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>login</title>
	<th:block th:replace="components/layout::common_head_css" />
	<th:block th:replace="components/layout::common_head_js" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" ></script>
</head>
	<main class="container">
	  <div class="bg-light p-5 rounded">
	    <h1>Log Out Confirm</h1>
	    <p class="lead"><strong>Are you sure you want to log out? Or just accidentally, be careful ok?</strong></p>
	    <a class="btn btn-lg btn-danger" href="/csprsApp/login" role="button">LogOut &raquo;</a>
	    <a class="btn btn-lg btn-primary" href="/csprsApp/page/listPage" role="button">Home &raquo;</a>
	  </div>
	</main>
</html>