<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
    <title>重設密碼</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
    <link href="/csprscbw/css/system/pwdForgotReset.css" rel="stylesheet">
</head>

<body>
    <div class="main-block">
        <h6>重設密碼</h6>
        <form th:action="@{/handleLogin/resetPwd}" method="post">
            <hr>

            <label id="icon" for="pwd1"><i class="fas fa-unlock-alt"></i></label>
            <input type="password" name="pwd1" id="pwd1" placeholder="設定新密碼" required />

            <label id="icon" for="pwd2"><i class="fas fa-unlock-alt"></i></label>
            <input type="password" name="pwd2" id="pwd2" placeholder="重新輸入新密碼" required />

            <hr>
            <div class="btn-block">
				<p th:text="${errorMsg}" style="color: red;"></p>			
                <button type="submit">確認重設</button>
            </div>
        </form>
    </div>
</body>

</html>