<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>帳號管理</title>

    <th:block th:replace="components/layout::bootstrap_head_css" />
	<th:block th:replace="components/layout::global_utils_js" />
	<th:block th:replace="components/layout::account_index_head_static" />
	
    <style>
        .table td,
        .table th {
            padding: 0.75rem;
            vertical-align: middle;
            border-top: 1px solid #dee2e6;
        }
    </style>
</head>
<div th:include="components/header :: header"></div>

<div class="container">

    <h1 class="text-center py-2">帳號管理</h1>
    <div th:if="${warning != null}" class="alert alert-danger" role="alert" id="warning-board">
        <strong th:text="${warning}"></strong>
    </div>
    <form class="row g-3">
        <div class="col-md-12">
            <input type="hidden" class="form-control" id="inputId" name="id">
        </div>
        <div class="col-md-6">
            <label for="inputName">帳號</label>
            <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required>
        </div>
        <div class="col-md-6">
            <label for="inputPassword">密碼</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password"
                required>
        </div>
        <div class="col-md-6">
            <label for="inputMail">信箱輸入</label>
            <input type="email" class="form-control" id="inputMail" name="mail" placeholder="mail" required>
        </div>
        <div class="col-md-6">
            <label for="inputDescription">使用者描述</label>
            <input type="text" class="form-control" id="inputDescription" name="description" placeholder="Description"
                required>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="col-md-12">
            <div class="col-sm-2">權限設定</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="roleCheck1">
                    <label class="form-check-label" for="roleCheck1">
                        User - 一般使用者
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="roleCheck2">
                    <label class="form-check-label" for="roleCheck2">
                        Manager - 管理員，現在還不知道要做啥
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="roleCheck3">
                    <label class="form-check-label" for="roleCheck3">
                        Admin - 超級使用者
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <h5 class="btn btn-primary" onclick="alterAccount()">編輯/更新</h5>
        </div>
</div>
</form>
</div>
<br>

<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 10%; display:none">#</th>
                    <th style="width: 10%">帳號</th>
                    <th style="width: 10%">密碼</th>
                    <th style="width: 10%">信箱</th>
                    <th style="width: 20%">使用者描述</th>
                    <th style="width: 20%">權限</th>
                    <th style="width: 20%">功能</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="MyBean: ${listPage}">
                    <th style="width: 10%; display:none" th:text="${MyBean.id}">id</th>
                    <td style="width: 10%" th:text="${MyBean.name}">name</td>
                    <td style="width: 10%" th:text="${MyBean.password}">password</td>
                    <td style="width: 10%" th:text="${MyBean.mail}">mail</td>
                    <td style="width: 20%" th:text="${MyBean.description}">description</td>
                    <!--<td style="width: 20%" th:text="${MyBean.roles}">roles</td>-->
                    <td style="width: 20%">
                        <p style="width: 20%; display:none" th:text="${MyBean.roles}">roles</p>
                        <img th:if="${#strings.containsIgnoreCase(MyBean.roles,'ADMIN')}"
                            src="/csprscbw/image/admin.png" width="40px" height="40px" title="admin" />
                        <img th:if="${#strings.containsIgnoreCase(MyBean.roles,'MANAGER')}"
                            src="/csprscbw/image/manager.png" width="40px" height="40px" title="manager" />
                        <img th:if="${#strings.containsIgnoreCase(MyBean.roles,'USER')}" src="/csprscbw/image/user.png"
                            width="40px" height="40px" title="user" />
                    </td>
                    <div th:if="${#session.getAttribute('UserRole')} ne ${MyBean.name}">
                        <td style="width: 20%">
                            <a class="btn btn-info" onclick="alterBean(this)" disabled>編輯</a> &nbsp
                            <a th:href="@{'/account/deleteAccount/' + ${MyBean.id}(page=${pageRequest.getCurrentPage()})}"
                                class="btn btn-danger" disabled>刪除</a>
                        </td>
                    </div>
                    <div th:unless="${#session.getAttribute('UserRole')} ne ${MyBean.name}">
                        <td style="width: 20%">
                            <a class="btn btn-info" onclick="alterBean(this)" disabled>編輯</a> &nbsp
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
        <div th:if="${pageRequest.getCurrentPage() != 1}">
            <a th:href="@{'/account'(page=1)}" class="btn btn-secondary">Start</a>
        </div>
        &nbsp
        <div th:if="${pageRequest.getCurrentPage() > 2}">
            <a th:href="@{'/account'(page=${pageRequest.getCurrentPage()}-2)}"
                th:text="${pageRequest.getCurrentPage()-2}" class="btn btn-secondary">..</a>
        </div>
        &nbsp
        <div th:if="${pageRequest.getCurrentPage() > 1}">
            <a th:href="@{'/account'(page=${pageRequest.getCurrentPage()}-1)}"
                th:text="${pageRequest.getCurrentPage()}-1" class="btn btn-secondary">.</a>
        </div>
        &nbsp
        <a th:href="@{'/account'(page=${pageRequest.getCurrentPage()})}" th:text="${pageRequest.getCurrentPage()}"
            class="btn btn-success"></a>
        &nbsp
        <div th:if="${pageRequest.getCurrentPage() <= pageRequest.getMaxPage() -1}">
            <a th:href="@{'/account'(page=${pageRequest.getCurrentPage()}+1)}"
                th:text="${pageRequest.getCurrentPage()}+1" class="btn btn-secondary">.</a>
        </div>
        &nbsp
        <div th:if="${pageRequest.getCurrentPage() <= pageRequest.getMaxPage() -2}">
            <a th:href="@{'/account'(page=${pageRequest.getCurrentPage()}+2)}"
                th:text="${pageRequest.getCurrentPage()}+2" class="btn btn-secondary">..</a>
        </div>
        &nbsp
        <div th:if="${pageRequest.getCurrentPage() != pageRequest.getMaxPage()}">
            <a th:href="@{'/account'(page=${pageRequest.getMaxPage()})}" class="btn btn-secondary">End</a>
        </div>
    </div>

    <div class="container">
        <div th:include="components/footer :: footer"></div>
    </div>
</body>


</html>