<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="icon" href="/csprscbw/favicon.ico">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
</head>
<body>
	<br><br>
	<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
	  <div>
	    <form>
	    	<div class="card" style="width: 50rem;">
				<div class="card-header py-3 text-center">
					<div style="text-align:center">
			    		<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-check-fill center" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
						  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
						</svg>
			    	</div>
					<h6 class="my-0 fw-normal">Your Account</h6>
				</div>
				<div class="card-body">
					<div class="my-3 p-3 bg-white rounded shadow-sm">
					    <h6 class="border-bottom border-gray pb-2 mb-0">account content</h6>
					    <div sec:authorize="isAuthenticated()" class="media text-muted pt-3">
					      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
					      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
					        <strong class="d-block text-gray-dark">@username</strong>
					        <strong sec:authentication="name"></strong>
					      </p>
					    </div>
					</div>
					<div class="my-3 p-3 bg-white rounded shadow-sm">
					    <h6 class="border-bottom border-gray pb-2 mb-0">account roles</h6>
					    <div sec:authorize="hasRole('ROLE_ADMIN')" class="media text-muted pt-3">
					      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em"></text></svg>
					      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
					        <strong class="d-block text-gray-dark">@ADMIN ROLE</strong>
					        you have superuser authentication to do anything, including MANGER, USER. So whatever you have MANAGER or USER roles, you still the god.
					      </p>
					    </div>
					    <div sec:authorize="hasRole('ROLE_MANAGER')" class="media text-muted pt-3">
					      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em"></text></svg>
					      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
					        <strong class="d-block text-gray-dark">@MANAGER ROLE</strong>
					        you are the manager, but you don't have ant addition right as normal user unless you are superuser.
					      </p>
					    </div>
					    <div sec:authorize="hasRole('ROLE_USER')" class="media text-muted pt-3">
					      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em"></text></svg>
					      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
					        <strong class="d-block text-gray-dark">@USER ROLE</strong>
					        you are the normal user or client, you have no power here, but don't worry, so do your managers. Unless you are superuser.
					      </p>
					    </div>
					</div>
				</div>
			</div>
		</form>
	  </div>
	</div>
</body>
</html>