<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>GIS圖資平台</title>

	<th:block th:replace="components/layout::bootstrap_head_css" />
	<th:block th:replace="components/layout::arcgisapi_head_css" />
	<th:block th:replace="components/layout::gis_platform_head_static" />

	<style>
		.ui-dialog-titlebar{background-color:#c2c2c2;}
		.ui-dialog .ui-dialog-titlebar-close
		{
		  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/aui/6.0.1/aui/css/icons/aui-icon-close.png);
		  z-index:999999;
		}
	</style>
</head>

<body>
	<main>
		<div th:include="components/sideheader :: sideheader" class="flex-shrink-0 p-3 bg-white" style="width:15%;"></div>
		<div class="b-example-divider"></div>
		<div class="flex-shrink-0 p-3 bg-white" style="width: 83%;">
			<div class="container">
				<div class="position-relative p-3 p-md-3 m-md-1 text-center bg-light">
					<div class="input-group" style="justify-content:center;">
						<span class="input-group-text" id="basic-addon3">選擇功能：</span>
						<div class="form-group d-flex justify-content-center">
							<select class="form-control" id="dropdownMenu1" style="width:200px;">
								<option id="noWMap" value="noWMap">選擇地圖服務</option>
								<!--
                <optgroup label="一般">
                  <option id="WMap4" value="WMap4">正射影像圖(通用版)</option>
                  <option id="WMap5" value="WMap5">電子地圖(通用版)</option>
                  <option id="WMap6" value="WMap6">混合地圖(通用版)</option>
                  <option id="WMap7" value="WMap7">段籍圖(通用版)</option>
                  <option id="WMap8" value="WMap8">1/5000圖幅框(通用版)</option>
                  <option id="WMap9" value="WMap9">OpenStreetMap</option>
                </optgroup>
                <optgroup label="Google地圖">
                  <option id="WMap10" value="WMap10">地圖</option>
                  <option id="WMap11" value="WMap11">衛星影像</option>
                  <option id="WMap12" value="WMap12">混合</option>
                </optgroup>
                -->
							</select>
						</div>
						<button id="srhLocationDialog" class="btn btn-outline-secondary btn-sm" type="button">定位搜尋</button>
						<button id="location" class="btn btn-outline-secondary btn-sm" type="button">我的位置</button>
						<button id="refresh" class="btn btn-outline-secondary btn-sm" type="button"
							onclick="location.reload();">刷新</button>
						<div class="btn-group dropdown">
							<button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle"
								data-bs-toggle="dropdown" aria-expanded="false">
								測量
							</button>
							<ul class="dropdown-menu">
								<li>
									<h6 class="dropdown-item esri-interactive esri-icon-measure-line" id="distance">
										&nbsp;量測長度</h6>
								</li>
								<li>
									<h6 class="dropdown-item esri-interactive esri-icon-measure-area" id="area">
										&nbsp;量測面積</h6>
								</li>
								<li>
									<h6 class="dropdown-item esri-interactive esri-icon-trash" id="clear">&nbsp;清除測量
									</h6>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
				aria-label="breadcrumb">

				<div class="container row">
					<div class="col-9">
						<ol class="breadcrumb" style="margin: 0px;">
							<li class="breadcrumb-item active basemapStage" aria-current="page"
								style="font-weight:bold;color:blue">satellite</li>
							<li class="breadcrumb-item active basemapStage" aria-current="page">topo-vector</li>
							<li class="breadcrumb-item active basemapStage" aria-current="page">hybrid</li>
							<li class="breadcrumb-item active basemapStage" aria-current="page">osm</li>
							<li class="breadcrumb-item active basemapStage" aria-current="page">dark-gray-vector</li>
						</ol>
					</div>
					<div class="col-3"><strong>上個步驟：</strong><span id="lastStep">頁面刷新</span></div>
				</div>
			</nav>
			<div id="viewDiv"></div>
			<div>
				<!--id="panelItem"-->
				<div id="panelItem">
					<calcite-action-bar id="panelItemContent" style="margin-bottom: 10px;">
						<calcite-action-group>
							<calcite-action id="layers" text="圖層" icon="layers"></calcite-action>
							<calcite-action id="bmapId" text="底圖" icon="layer-basemap"></calcite-action>
						</calcite-action-group>
					</calcite-action-bar>
					
					<calcite-combobox id="layerChosenComboboxItem" scale="s">
						<!--
            <calcite-combobox-item value="roadKillLyr" text-label="路殺圖資"></calcite-combobox-item>
            <calcite-combobox-item value="cbwLyr" text-label="氣象局測站圖資"></calcite-combobox-item>
            <calcite-combobox-item value="roadSectionLyr" text-label="地段資料圖資"></calcite-combobox-item>
            <calcite-combobox-item value="layer4" text-label="土地使用圖資" disabled></calcite-combobox-item>
            <calcite-combobox-item value="layer7" text-label="漁業署相關" disabled>
              <calcite-combobox-item value="layer7-1" text-label="VDR點位圖資"></calcite-combobox-item>
              <calcite-combobox-item value="layer7-2" text-label="蚵架點位圖資"></calcite-combobox-item>
              <calcite-combobox-item value="layer7-3" text-label="魚塭點位圖資"></calcite-combobox-item>
            </calcite-combobox-item>
            -->
					</calcite-combobox>

					<div id="layerShow" class="layerShowClass" style="display: none;">
						<div style="text-align: center;margin: 1px;">※ 圖資控制 ※</div>
					</div>
				</div>


				<div id="arcgisBtRight">
					<div id="attrId" class="attrClass">
						<div>暫無位置</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div id="upload_info" valign="center">
					<h6>上傳檔案圖資(*.zip)</h6>
					<h6 style="font-size: 5px;">系統錯誤請重啟頁面，此外欄位讀取編碼為UTF-8</h6>
					<label for="input" style="font-size: 5px;">選擇具有座標系統之圖資:</label>
					<input type="file" id="file" accept=".zip" style="font-size: 10px;"
						onchange="document.getElementById('uploadIt').disabled = false">
					<input type="submit" id="uploadIt" style="font-size: 10px;" disabled>

					<span class="file-upload-status" style="opacity:1;" id="upload-status"></span>
					<div id="upload-content"></div>
				</div>
				<div id="uploadOptInfo" hidden>
					<label for="customRange3">透明度</label>
					<span id="valBox"></span><br>
					<input type="range" class="custom-range" min="1" max="10" step="1" id="customRange3" disabled>
				</div>
			</div>
		</div>
	</main>
	
	<div id="searchLocationDialog" class="container">
		<div class="row g-3">
		  <div class="col-md-6">
		    <label for="cityInput" class="form-label">選擇縣市</label>
		    <select id="cityInput" class="form-select">
		    </select>
		  </div>
		  <div class="col-md-6">
		    <label for="districtInput" class="form-label">選擇區段</label>
		    <select id="districtInput" class="form-select">
				<option selected>選擇區段</option>
		    </select>
		  </div>
		  <div class="col-md-6">
		    <label for="roadInput" class="form-label">選擇路段</label>
		    <select id="roadInput" class="form-select">
		      <option selected>選擇路段</option>
		    </select>
		  </div>
		  <div class="col-md-6">
		    <label for="detailInput" class="form-label">細項</label>
		    <input type="detailInput" class="form-control" id="detailInput">
		  </div>
		  <div class="col-6">
		    <button id="searchLocation" class="btn btn-success">查詢</button>
		  </div>
		  <div class="col-6">
		    <div id="test"></div>
		  </div>
		</div>
	</div>
		
	<div id="lyrQueryFieldSelectDialog" class="container">
		<br>
		<input type="text" class="form-control" id="lyrQueryFieldInput" placeholder="請輸入關鍵字">
		<hr>
		<select class="form-select" aria-label="Default select example" id="lyrQueryFieldSelect" disabled>
		  <option selected value="0">請選擇欄位</option>
		</select>
		<hr>
		<div id="lyrQueryFieldCheck">
			<!---->
		</div>
		<div class="d-grid gap-2">
		  <button class="btn btn-primary" type="button" id="lyrQueryFieldSearch" disabled>查詢</button>
		</div>
		<hr>
		<div class="form-floating">
		  <textarea class="form-control" placeholder="Leave a comment here" id="lyrQueryFieldDescription" style="height: 200px"></textarea>
		  <label for="lyrQueryFieldDescription">摘要</label>
		</div>
	</div>
	<div id="uploadLyrQueryFieldSelectDialog" class="container">
		<br>
		<input type="text" class="form-control" id="uploadLyrQueryFieldInput" placeholder="請輸入關鍵字">
		<hr>
		<select class="form-select" aria-label="Default select example" id="uploadLyrQueryFieldSelect" disabled>
		  <option selected value="0">請選擇欄位</option>
		</select>
		<hr>
		<div id="uploadLyrQueryFieldCheck">
			<!---->
		</div>
		<div class="d-grid gap-2">
		  <button class="btn btn-primary" type="button" id="uploadLyrQueryFieldSearch" disabled>查詢</button>
		</div>
		<hr>
		<div class="form-floating">
		  <textarea class="form-control" placeholder="Leave a comment here" id="uploadLyrQueryFieldDescription" style="height: 200px"></textarea>
		  <label for="uploadLyrQueryFieldDescription">摘要</label>
		</div>
	</div>
	
	<th:block th:replace="components/layout::global_utils_js" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<th:block th:replace="components/layout::feather-icons_js" />
	<th:block th:replace="components/layout::arcgisapi_foot_js" />
	<th:block th:replace="components/layout::gis_platform_foot_static" />
	<th:block th:replace="components/layout::gis_utils_js" />
	
	<script>
		window.onload = function () {
			readAndSetMapServiceWidget();
			readAndSetLayerServiceWidget();

			arcgisInit();
			document.getElementById("viewDiv").style.height = (window.innerHeight * 0.85) + "px";
			setUnblockUI();
			
			
			var json = JSON.parse(getGeoJson("/csprscbw/taiwanRoadSearch.json"));
			buildSearchLocationWidget(json);
			$( "#searchLocationDialog" ).dialog({
				bgiframe: true,
				autoOpen: false,
				width: 600,
				height: 300,
				modal: true,
				closeText: "hide"
			});
			
			$( "#lyrQueryFieldSelectDialog" ).dialog({
				title: "系統圖資查詢關鍵字",
				bgiframe: true,
				autoOpen: false,
				width: 600,
				height: 600,
				modal: true,
				closeText: "hide",
				close: function(){
					document.getElementById("lyrQueryFieldInput").value = "";
					document.getElementById("lyrQueryFieldSelect").innerHTML = "";
					document.getElementById("lyrQueryFieldSelect").disabled = true;
					document.getElementById("lyrQueryFieldSearch").disabled = true;
					document.getElementById("lyrQueryFieldCheck").innerHTML = "";
					document.getElementById("lyrQueryFieldDescription").value = "";
				}
			});
			$( "#uploadLyrQueryFieldSelectDialog" ).dialog({
				title: "上傳圖資查詢關鍵字",
				bgiframe: true,
				autoOpen: false,
				width: 600,
				height: 600,
				modal: true,
				closeText: "hide",
				close: function(){
					document.getElementById("uploadLyrQueryFieldInput").value = "";
					document.getElementById("uploadLyrQueryFieldSelect").innerHTML = "";
					document.getElementById("uploadLyrQueryFieldSelect").disabled = true;
					document.getElementById("uploadLyrQueryFieldSearch").disabled = true;
					document.getElementById("uploadLyrQueryFieldCheck").innerHTML = "";
					document.getElementById("uploadLyrQueryFieldDescription").value = "";
				}
			});
			// 系統圖資點擊的時候觸發的blockUI會有延遲導致夜面沒有被遮罩，這裡另外進行滑鼠放開後的事件
			
			document.body.addEventListener("mouseup", function(e){
				if(e.target.className == "mapServiceCombobox"){
					if(e.target.selected == false){
						alert("圖資內容加載需要時間，請稍等...");
						setblockUI();
					}
				}
			});
		}
		
	</script>

</body>

</html>